.container{
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

h1{
    text-align: center;
    text-align: justify-all;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

h2{
    text-align: center;
    text-align: justify-all;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.right img{
    margin-right: 40%;
    background-position: center;
}

.discrip{
    margin-top: 50%;
}

.left img{
    margin-left: 40%;
    background-position: center;
    padding: 0;
}

.info{
    margin-top: 35%;

}

.map{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}