/*
 * General Styles
*/


body {
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a36445eb-071b-47ac-b8d7-66c3b3e6e6aa/d959q2g-7cf749a1-ace6-4341-b299-ad1ec5bda2c6.png/v1/fill/w_1024,h_576,q_80,strp/gotham_city_background_7_by_phoenixinthesnow_d959q2g-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvYTM2NDQ1ZWItMDcxYi00N2FjLWI4ZDctNjZjM2IzZTZlNmFhXC9kOTU5cTJnLTdjZjc0OWExLWFjZTYtNDM0MS1iMjk5LWFkMWVjNWJkYTJjNi5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Z_9teAAtFMaFpGyaP3cyl8s9j0XRuXSjwInFmimDWvQ");
  font-family: 'Open Sans', arial, sans-serif;
  background-size: auto ;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {

  font-size: 3.125rem;

}

h2 {
  font-size: 2rem;
  margin-left: 20%;

}

/*
 * Container Styles
*/

.container {
  width: 37.5rem;
  margin: 6.25rem auto;
  background: #FFF;
  border-radius: 1.25rem 1.25rem;
}

.discrip{
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  text-align: justify-all;
  margin-bottom: 3.125rem;
}

.c2{
    background: lightgrey;

}

.dp img{
  background-position: center top;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  display: block;

}

.right img{
  float: right;
  width: 20%;
}
.left img{
  float: left;
  width: 20%;
  padding: 0;
}

.info{
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  text-align: justify-all;

}